# API
SEC_API_KEY = 
ALPHAVANTAGE_API_KEY = 
MASSIVE_API_KEY =

# Database
DATABASE_URL =

# Ariflow
AIRFLOW_UID=
AIRFLOW_FERNET_KEY=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=